<?php
    $right = isset($attributes["align"]) && $attributes["align"] == "right";
    $rightClass = $right ? "right" : "";
    $screenshot = isset($attributes["screenshot"]) ? $attributes["screenshot"] : false;
    $alt = isset($attributes["alt"]) ? $attributes["alt"] : "";
?>
<div class="yui3-g thumbnail-paragraph <?php echo $rightClass ?>">
<?php
    ob_start();
?>
    <div class="yui3-u-1-3 thumbnail">
        <?php if ($screenshot) echo "<div class='screenshot'><a href='$screenshot' title='$alt'>" ?>
        <img src="<?php echo $attributes["thumb"] ?>" alt="<?php echo $alt ?>">
        <?php if ($screenshot) echo "</a></div>" ?>
    </div>
<?php
    $thumbnailDiv = ob_get_contents();
    ob_end_clean();
    if (!$right) {
        echo $thumbnailDiv;
    }
?>
    <div class="yui3-u-2-3 paragraph">
        <div class="padding">
            <p>
<?php echo $content; ?>
        </div>
    </div>
<?php 
    if ($right) {
        echo $thumbnailDiv;
    }
?>
</div>