<?php
    $thumb = $attributes['thumb'];
    $width = isset($attributes['width']) ? $attributes['width'] : '299';
    $height = isset($attributes['height']) ? $attributes['height'] : '183';
    $base = $attributes['base'];
?>
<div class="wallpaper overlay-item media-item frame yui3-u">
    <img src="<?php echo $thumb ?>" alt="" width="<?php echo $width ?>" height="<?php echo $height ?>">
    <ul class="resolutions overlay yui3-g">
        <?php 
        $resolutions = array(
            '800x600', '1024x768', '1280x960', '1280x1024', '1600x1200',
            '1280x720', '1280x800', '1440x900', '1680x1050', '1920x1080', '1920x1200'
        );

        foreach($resolutions as $resolution) : ?>
        <li class="resolution yui3-u-1-2">
            <a href="//d3b4yo2b5lbfy.cloudfront.net/wp-content/uploads/wallpapers/<?php echo "$base-$resolution"; ?>.jpg" target="_blank"><?php echo $resolution; ?></a>
        </li>
        <?php endforeach; ?>
    </ul>
</div>